<a href="https://colab.research.google.com/github/ApekshaGawade/Python/blob/main/Day1_Zero_to_Hero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello")
print("World")
print("Hello", end=' ')
print("World")
print("Hello","World")
a='abc'
print(type(a))

Hello
World
Hello World
Hello World
<class 'str'>

In [ ]:
x=10
y=20
z=30
print(x,y,z)
print(id(x))
print(id(y))
print(id(z))
a,b,c= 10,10,10
print(a,b,c)
print(id(a))
print(id(b))
print(id(c))

10 20 30
94186200705824
94186200706144
94186200706464
10 10 10
94186200705824
94186200705824
94186200705824

In [ ]:
str="string"
print(id(str))
print(type(id(str)))

139688147001136
<class 'int'>

In [ ]:
x=int(input("Enter 1st value"))
y=int(input("Enter 2nd value"))
print(x+y)

Enter 1st value2
Enter 2nd value3
5

In [ ]:
x=input('Enter values: ')
print(x)
print((type(x)))

Enter values: 10 20 30 40
10 20 30 40
<class 'str'>

In [ ]:
# List
x=input('Enter values: ')
val= [int(i) for i in x.split()]
print(val)

Enter values: 10 20 30
[10, 20, 30]

In [ ]:
l=['HI','hello',1,2,3]
print(l)
print(type(l))

['HI', 'hello', 1, 2, 3]
<class 'list'>

In [ ]:
li=[90,32,1,50,6]
li.sort()
print(li)

[1, 6, 32, 50, 90]

In [ ]:
li=[90,32,1,50,6]
li.reverse()
print(li)

[6, 50, 1, 32, 90]

In [ ]:
#Slicing
li=[90,32,1,50,6]

print(li[:4])

[90, 32, 1, 50]

In [ ]:
#Descending order
values=input("Enter the values: ")
val=[int(i) for i in values.split()]
val.sort()
val.reverse()
print(val)

Enter the values: 10 100 20 90 30 80
[100, 90, 80, 30, 20, 10]